<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administradores</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>

    <h1>Tabla de Administradores</h1>
    <ul>
        <li><a href= {% url 'home:indexapp' %}>Home</a></li>
        <li><a href={% url 'home:estudianteapp' %}>Estudiantes</a></li>
        <li><a href={% url 'home:administradoresapp' %}>Administradores</a></li>
        <li><a href={% url 'home:acercaapp' %} >Acerca de</a></li>
    </ul>
    <table border="1">
        <tr>
            <td>Nombre</td>
            <td>Usuario</td>
            <td>Contacto</td>
        </tr>
        <tr>
            <td>Martin Juarez</td>
            <td>Mjuareztin</td>
            <td>Mjuareztin@protonmail.com</td>
        </tr>
        <tr>
            <td>Kevin Orozco</td>
            <td>Korozcovin</td>
            <td>Korozcovin@protonmail.com</td>
        </tr>
        <tr>
            <td>Marvin Flores</td>
            <td>Mfloresvin</td>
            <td>Mfloresvin@protonmail.com</td>
        </tr>        

    </table>
</body>
</html>