{% extends 'carga.html'%}

{% block titulo%}
        <h2>Tabla de Administradores</h2>
{% endblock %}

{% block navegacion%}
        <ul>
            <a class="btn btn-secondary" href= {% url 'home:indexapp' %}>Home</a>
            <a class="btn btn-secondary" href={% url 'home:estudianteapp' %}>Estudiantes</a>
            <a class="btn btn-secondary" href={% url 'home:administradoresapp' %}>Administradores</a>
            <a class="btn btn-secondary" href={% url 'home:acercaapp' %} >Acerca de</a>
        </ul>
{% endblock %}

{% block tablas%}

    <table border="1">
        <tr>
            <td>Nombre</td>
            <td>Usuario</td>
            <td>Contacto</td>
        </tr>
        <tr>
            <td>Martin Juarez</td>
            <td>Mjuareztin</td>
            <td>Mjuareztin@protonmail.com</td>
        </tr>
        <tr>
            <td>Kevin Orozco</td>
            <td>Korozcovin</td>
            <td>Korozcovin@protonmail.com</td>
        </tr>
        <tr>
            <td>Marvin Flores</td>
            <td>Mfloresvin</td>
            <td>Mfloresvin@protonmail.com</td>
        </tr>        

    </table>
{% endblock %}