{% extends 'carga.html'%}

{% block titulo%}
    <h2>Crear Autorizacion</h2>
{% endblock %}

{% block navegacion%}
        <ul>
            <a class="btn btn-secondary" href= {% url 'home:indexapp' %}>Home</a>
            <a class="btn btn-secondary" href={% url 'home:estudianteapp' %}>Estudiantes</a>
            <a class="btn btn-secondary" href={% url 'home:administradoresapp' %}>Administradores</a>
            <a class="btn btn-secondary" href={% url 'home:acercaapp' %} >Acerca de</a>
        </ul>
{% endblock %}

{% block formulario%}
        <form method="post">
            {% csrf_token %}
            <h4>publicacion</h4> {{form.publicacion}}
            <h4>Nombre de autorizador </h4> {{form.nombreau}}
            <h4>tipo de autorizacion</h4> {{form.tipo1}}
            <input class="btn btn-secondary" type="submit" name="guardar">
        </form>

{% endblock %}
