{% extends 'carga.html'%}

{% block titulo%}
    <h2>Crear Articulo</h2>
{% endblock %}

{% block navegacion%}
        <ul>
            <a class="btn btn-secondary" href= {% url 'home:indexapp' %}>Home</a>
            <a class="btn btn-secondary" href={% url 'home:estudianteapp' %}>Estudiantes</a>
            <a class="btn btn-secondary" href={% url 'home:administradoresapp' %}>Administradores</a>
            <a class="btn btn-secondary" href={% url 'home:acercaapp' %} >Acerca de</a>
        </ul>
{% endblock %}

{% block formulario%}
        <form method="post">
            {% csrf_token %}
            <h4> Numero de Articulo</h4>  {{form.No_art}}
            <h4>Nombre</h4>  {{form.nombre}}
            <h4>Fecha</h4> {{form.fecha}}
            <input class="btn btn-secondary" type="submit" name="guardar">
        </form>

{% endblock %}

