{% extends 'carga.html'%}

{% block titulo%}
    <h2>Inicio</h2>
{% endblock %}

{% block navegacion%}
        <ul>
            <a class="btn btn-secondary" href= {% url 'home:indexapp' %}>Home</a>
            <a class="btn btn-secondary" href={% url 'home:estudianteapp' %}>Estudiantes</a>
            <a class="btn btn-secondary" href={% url 'home:administradoresapp' %}>Administradores</a>
            <a class="btn btn-secondary" href={% url 'home:acercaapp' %} >Articulos</a>
            <a class="btn btn-secondary" href={% url 'home:acerca1app' %} >Comentarios</a>
        </ul>

{% endblock %}

{% block menu%}
        <h2 >Crear Publicacion aca</h2>
        <a class="btn btn-primary" href={% url 'home:publiapp' %} >Crear</a>

        <h2>Crear Comentario aca</h2>
        <a class="btn btn-primary" href={% url 'home:comeapp' %} >Crear</a>

        <h2>Crear Articulo aca</h2>
        <a class="btn btn-primary" href={% url 'home:artiapp' %} >Crear</a>

        <h2>Crear Autorizacion aca</h2>
        <a class="btn btn-primary" href={% url 'home:autoapp' %} >Crear</a>

{% endblock %}
    

    
{% block contenido%}


        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería 
            de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
            No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, 
            quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", 
            las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, 
            como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería 
            de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
            No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, 
            quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", 
            las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, 
            como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
{% endblock %}
    